/node_modules
/public/hot
/public/storage
/public/img/employeePic*!default.png
!/public/img/employeePic/default.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
